<p><%= @agent.name %>, здравствуйте!</p>

<p>Новый диалог создан!</p>

<p>
Нажмите <%=
  link_to 'здесь',
  app_account_conversation_url(account_id: @conversation.account_id, id: @conversation.display_id)
%> чтобы перейти к диалогу
</p>
