<p><%= @resource.name %>, добрый день!</p>

<% if @resource&.inviter.present? %>
  <p><%= @resource.inviter.name %>, with <%= @resource.inviter.account.name %> пригласил вас для работы с клиентами в онлайн чате Sport Casual Moscow. </p>
<% end %>

<p>Вас пригласили вас для работы с клиентами в онлайн чате Sport Casual Moscow. </p>

<p>Вы можете подтвердить аккаунт по ссылке:</p>

<p><%= link_to 'Confirm my account', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
