<p><%= @resource.email %>, здравствуйте!</p>

<p>Кто-то запросил смену вашего пароля. Для этого можно просто перейти по ссылке.</p>

<p><%= link_to 'Изменить пароль', frontend_url('auth/password/edit', reset_password_token: @token) %></p>